In [2]:
# The Z-score is the signed number of standard deviations by which the value of an observation 
# or data point is above the mean value of what is being observed or measured.

In [10]:
import seaborn as sns
import pandas as pd
from sklearn.datasets import load_boston

boston = load_boston()

X = boston.data # 13 Features
y = boston.target

columns = boston.feature_names

#create the dataframe
boston_df = pd.DataFrame(boston.data)
boston_df.columns = columns
boston_df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
from scipy import stats
import numpy as np
z = np.abs(stats.zscore(boston_df))
print(pd.DataFrame(z).head(5))

         0         1         2         3         4         5         6   \
0  0.419782  0.284830  1.287909  0.272599  0.144217  0.413672  0.120013
1  0.417339  0.487722  0.593381  0.272599  0.740262  0.194274  0.367166
2  0.417342  0.487722  0.593381  0.272599  0.740262  1.282714  0.265812
3  0.416750  0.487722  1.306878  0.272599  0.835284  1.016303  0.809889
4  0.412482  0.487722  1.306878  0.272599  0.835284  1.228577  0.511180

         7         8         9         10        11        12
0  0.140214  0.982843  0.666608  1.459000  0.441052  1.075562
1  0.557160  0.867883  0.987329  0.303094  0.441052  0.492439
2  0.557160  0.867883  0.987329  0.303094  0.396427  1.208727
3  1.077737  0.752922  1.106115  0.113032  0.416163  1.361517
4  1.077737  0.752922  1.106115  0.113032  0.441052  1.026501

In [22]:
threshold = 3
print(np.where(z > 3))

(array([ 55,  56,  57, 102, 141, 142, 152, 154, 155, 160, 162, 163, 199,
       200, 201, 202, 203, 204, 208, 209, 210, 211, 212, 216, 218, 219,
       220, 221, 222, 225, 234, 236, 256, 257, 262, 269, 273, 274, 276,
       277, 282, 283, 283, 284, 347, 351, 352, 353, 353, 354, 355, 356,
       357, 358, 363, 364, 364, 365, 367, 369, 370, 372, 373, 374, 374,
       380, 398, 404, 405, 406, 410, 410, 411, 412, 412, 414, 414, 415,
       416, 418, 418, 419, 423, 424, 425, 426, 427, 427, 429, 431, 436,
       437, 438, 445, 450, 454, 455, 456, 457, 466], dtype=int64), array([ 1,  1,  1, 11, 12,  3,  3,  3,  3,  3,  3,  3,  1,  1,  1,  1,  1,
        1,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  5,  3,  3,  1,  5,
        5,  3,  3,  3,  3,  3,  3,  1,  3,  1,  1,  7,  7,  1,  7,  7,  7,
        3,  3,  3,  3,  3,  5,  5,  5,  3,  3,  3, 12,  5, 12,  0,  0,  0,
        0,  5,  0, 11, 11, 11, 12,  0, 12, 11, 11,  0, 11, 11, 11, 11, 11,
       11,  0, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
      dtype=int64))

In [27]:
print(z[55][1])

3.375038763517309