In [1]:
# Load libraries
import pandas as pd
import numpy as np

In [2]:
X = np.array([[1, 1, 1,1],
              [2, 2, 0,4],
              [3, 3, 1,9],
              [4, 4, 0,16],
              [5, 5, 1,25],
              [6, 6, 0,36],
              [7, 7, 1,49],
              [8, 7, 0,64],
              [9, 7, 1,81]])

In [3]:
df = pd.DataFrame(X)

In [4]:
df.corr()

          0         1         2         3
0  1.000000  0.976103  0.000000  0.975281
1  0.976103  1.000000 -0.034503  0.911176
2  0.000000 -0.034503  1.000000  0.056308
3  0.975281  0.911176  0.056308  1.000000

In [5]:
# Create correlation matrix
corr_matrix = df.corr().abs()

In [6]:
corr_matrix

          0         1         2         3
0  1.000000  0.976103  0.000000  0.975281
1  0.976103  1.000000  0.034503  0.911176
2  0.000000  0.034503  1.000000  0.056308
3  0.975281  0.911176  0.056308  1.000000

In [7]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))


# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [8]:
# Drop features 
df.drop(df[to_drop], axis=1)

   0  2
0  1  1
1  2  0
2  3  1
3  4  0
4  5  1
5  6  0
6  7  1
7  8  0
8  9  1