In [4]:
import pandas as pd

df = pd.read_csv("C:\\Users\\INSAKUM46\\AppData\\Local\\Programs\\Python\\Python36\\Scripts\\#04 Machine Learning CookBook\\datasets\\Titanic.csv")

In [6]:
df.shape  # 14 rows of data

(156, 14)

In [9]:
df.isnull().sum() # get null values details

Unnamed: 0       0
PassengerId      0
Survived         0
Pclass           0
Last Name        0
First Name       0
Sex              0
Age             30
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          125
Embarked         1
dtype: int64

In [13]:
df.dropna(inplace=True)

print(df.shape)

df.isnull().sum()

(27, 14)

Unnamed: 0     0
PassengerId    0
Survived       0
Pclass         0
Last Name      0
First Name     0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64